#picture-frame-selector-modal { display: none; }
#picture-frame-selector-modal h1,
#picture-frame-selector-modal h2,
#picture-frame-selector-modal h3 { clear: both; }

.ui-dialog-titlebar { display: none; }

#picture-frame-selector-image {
	width: 50%; float: left;
}

#picture-frame-selector-lists {
	width: 50%; float: right;
}

#picture-frame-selector-modal img.woocommerce-main-image {
	height: auto; width: 100%;
}

#picture-frame-selector-modal img.attachment-thumbnail {
	width: 100px; height: auto;
}

ul#picture-frames-list, ul#mounts-list { clear: both; }

ul#picture-frames-list li, ul#mounts-list li {
	display: inline; list-style-type: none; float: left;
	margin-right: 10px;
}

#picture-frame-selector-modal p.frame-caption {
	text-align: center; width: 100px;
}