#picture-frame-selector-lead-in {
	clear: left; padding: 2%; background: #fafafa; width: 44%;
	margin-bottom: 1.618em;
}

#picture-frame-selector-modal { display: none; }
#picture-frame-selector-modal h1,
#picture-frame-selector-modal h2,
#picture-frame-selector-modal h3 { clear: both; }

.ui-dialog-titlebar { display: none; }

#picture-frame-selector-image {
	width: 50%; float: left; position: relative;
}

#main-image-frame {
	width: 100%; height: auto; position: absolute; top: 0; left: 0;
}
#main-image-frame img {
	width: 65%; height: auto; position: absolute; left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-indez: 250; margin-top: 40%;
}

.overlay-frame, .overlay-mount {
	width: 100%; height: auto; position: absolute; top: 0; left: 0;
	display: none;
}
.overlay-frame img, .overlay-mount img {
	width: 100%; height: auto;
}
.overlay-frame { z-index: 1000; }
.overlay-mount { z-index: 500; }

#picture-frame-selector-lists {
	width: 47%; float: right; padding-left: 3%;
}

#picture-frame-selector-modal img.woocommerce-main-image {
	height: auto; width: 80%;
}

#picture-frame-selector-modal img.attachment-thumbnail {
	width: 100px; height: auto;
}

ul#picture-frames-list, ul#mounts-list { clear: both; }

ul#picture-frames-list li, ul#mounts-list li {
	display: inline; list-style-type: none; float: left;
	margin-right: 10px;
}

#picture-frame-selector-modal p.frame-caption {
	text-align: center; width: 100px;
}